header {
  .nav_left {
    span {
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      overflow: hidden;
    }
    img {
      height: 2rem;
    }
  }
  .ddh {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .aqv {
    padding: 1.5rem;
  }
  .fr {
    margin: -0.375rem;
  }
  .aqn {
    padding: 0.375rem;
  }
  .og {
    height: 2rem;
  }
}
