@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Inter", sans-serif;
  h1 {
    background-color: aqua;
    @apply px-2;
  }
}
a {
  font-family: inherit;
}
.ddh {
  padding-left: 2rem;
  padding-right: 2rem;
}
.aqv {
  padding: 1.5rem;
}
